# this is normally a vault file, but you can use a custom credential in AWX
# and remove this file (use extra_vars instead) or use environment variables.
netbox_url: http://netbox.local
netbox_token: <token>
validate_certs: false
